body{
    background-color: black;
}
#box1{
    border: 5px, solid;
    border-color: green;
    border-radius: 5px;
    height: 250px;
    width: 250px;
    text-align: center;
    font-size: 225px;
    color: green;
    /* transform: translate(50px, 50px); */
    /* animation-duration: 5s;
    animation-timing-function:ease-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation: mySlide; */
}
#box1:active{
    animation: 5s ease-out 0s infinite running  myColor;
   
}
@keyframes mySlide{
    from{
        margin-left: 0%;
    }
    to{
        margin-left: 100%;
    }
}
@keyframes myRotation{
    100%{transform: rotateZ(360deg);}
}
@keyframes myOpacity{
    50%{opacity: 0;}
}
@keyframes myScale{
    50%{transform: scale(0, 0);}
}
@keyframes myColor{
    0%{color: tomato;}
    50%{color: purple;}
    100%{color: yellow;}
}